 #forecast-cards {
    display: flex;
    gap: 0.5rem;
}

article {
    margin-top: 0;
    margin-bottom: 0;
    min-width: 20%;
    
}

body>footer {
    position: fixed;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--card-background-color);
    bottom: 0;
}