body {
    margin-left: 2rem;
}

.main-container {
    display: flex;
    gap: 2rem;
    padding-top: 0;
}

/* aside {
    max-width: 20%;
} */

#forecast-cards {
    display: flex;
    gap: 1rem;
}

article {
    margin-top: 0;
    min-width: 20%;
    
}