/* body {
    margin-left: 2rem;
    max-width: 100%;
} */

/* .main-container {
    display: flex;
    gap: 2rem;
    padding-top: 0;
} */

/* aside {
    max-width: 20%;
} */

 #forecast-cards {
    display: flex;
    gap: 0.5rem;
}

article {
    margin-top: 0;
    margin-bottom: 0;
    min-width: 20%;
    
}